<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217633247842-7kl6t9gjv4pm02e68015ojroubil2m33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217633247842-7kl6t9gjv4pm02e68015ojroubil2m33</string>
	<key>API_KEY</key>
	<string>AIzaSyBs4hD_Jj5kMe1sZrCDcJsVT_HgL2T0Ils</string>
	<key>GCM_SENDER_ID</key>
	<string>217633247842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrezkys.Talky</string>
	<key>PROJECT_ID</key>
	<string>talky-e976b</string>
	<key>STORAGE_BUCKET</key>
	<string>talky-e976b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217633247842:ios:a3f5654f000e73fd50773b</string>
</dict>
</plist>